table {
    width: 100%;
    border-collapse: collapse;
}
caption {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.5;
}
thead th {
    background: #f0f0f0;
}
th {
    background: #f6f6f6;
    padding: 12px 6px;
    text-align: left;
}
th[scope=row] {
    border-bottom: 1px solid #666;
}
td {
    padding: 6px;
    border-bottom: 1px solid #eee;
}

.mt-back {
    float: right;
    background: #f6f6f6;
    display: inline-block;
    padding: 6px;
}

@media print {
    .mt-back {
        display: none;
    }
}